@font-face {
  font-family: 'FAZ Gold';
  font-style: normal;
  font-weight: normal;
  src: url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Regular.woff2") format("woff2"), 
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Regular.woff") format("woff"),
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Regular.eot") format("eot")
}
@font-face {
  font-family: 'FAZ Gold';
  font-style: italic;
  font-weight: normal;
  src: url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Italic.woff2") format("woff2"), 
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Italic.woff") format("woff"),
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Italic.eot") format("eot")
}
@font-face {
  font-family: 'FAZ Gold';
  font-style: normal;
  font-weight: bold;
  src: url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Bold.woff2") format("woff2"), 
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Bold.woff") format("woff"),
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-Bold.eot") format("eot")
}
@font-face {
  font-family: 'FAZ Gold';
  font-style: italic;
  font-weight: bold;
  src: url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-BoldItalic.woff2") format("woff2"), 
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-BoldItalic.woff") format("woff"),
    url("https://dynamic.faz.net/red/2020/coronavirus/homepage-dashboard/fonts/FAZGoldSansWeb-BoldItalic.eot") format("eot")
}

$background-color-archive:#ffffff;
$font-color-archive:#333333;


body {
  margin:0;
  box-sizing: border-box;
  background-color: $background-color-archive;
  color:$font-color-archive;
}

h1 {
  font-family: 'FAZ Gold', 'FAZ Gold Sans TT', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 28px;
  width: 100%;
  text-align: center;
  margin: 10 auto;
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}


#archive-app {
font-family: 'FAZ Gold', 'FAZ Gold Sans TT', Helvetica, Arial, sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
color: $font-color-archive;
line-height: 1.4;
max-width:1280px;
margin: 0 auto;
border:0;

* {
  box-sizing: border-box;
  font-size:13px;
}

.archive {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}


.grid-label {
  font-size:13px!important;
}

.archive-flex-container {
  display:flex;
  flex-wrap:wrap;
  //gap:25px;
  //justify-content : center;
  justify-content:space-between;
  gap:10px;
  align-content : space-between;
  background-color: $background-color-archive;
  padding-left:25px;
  padding-right:25px;
  margin:0;

  @media screen and (max-width:870px) {
  padding-left:10px;
  padding-right:10px;
  justify-content:space-around;
  gap:10px;
  padding-bottom:10px;
  }

  @media screen and (max-width:340px) {
    padding-left:5px;
    padding-right:5px;
    justify-content:space-around;
    gap:5px;
    padding-bottom:5px;
    
    }
}


.archive-box{
width:23.7%;
height:215px;
background-color: #999;
padding:10px;
margin-bottom:15px!important;
box-sizing:border-box;
border-radius: 3px;

@media screen and (max-width:900px) {
  width:43%;
  height:215px;
  padding:10px;
  margin-bottom:25px!important;
}


@media screen and (max-width:420px) {
  width:48%;
  height:180px;
  margin-bottom:0px!important;
}

}


.archive-headline{
font-size: 16px;
line-height: 1.2;
font-weight: bold;
margin: 0;
text-align: center;
width:100%;

@media screen and (max-width:350px) {
  font-size:14px;
}
}

.archive-subline{
font-size: 13px;
margin-bottom: 5px;
width:100%;
text-align:center;

}

.archive-screenshot img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  object-position: top center;
}

.archive-footnote{
color: #999;
font-size: 13px;
text-align: center;
margin-top:0;

@media screen and (max-width:500px) {
  margin-top:0px!important;

}
}

.archive-button {
font-size: 13px;
line-height: 40px;
height:40px;
color: #fff;
background-color: #c60000;
text-align: center;
border-radius: 3px;
padding-left: 16px;
padding-right:16px;
margin: auto;
transition: background-color .5s;
cursor:pointer;
position:absolute;
right: 25px;
top:0px;

&:hover {
  background-color: #8d0000;
  cursor: pointer;
}


@media screen and (max-width:860px) {
  right:25px;
  top:-10px;
}

@media screen and (max-width:420px) {
  top:5px;
  right:8px;
  padding-left: 10px;
  padding-right:10px;
}
}


}